
   
<div [ngClass]="['']">
    <div id="demo2" [ngClass]="['carousel slide']" data-bs-ride="carousel" [ngStyle]="{'text-align':'center'}">
          <div class="carousel-inner">
               <div class="carousel-item active">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 [ngClass]="['datasl']">Data Annotataion</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button style="border:1px solid #FF891D;" >Learn More</button> 
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/data_annotation.png" style="width:70%;margin-top:40px;">
                             </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                 <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 [ngClass]="['datasl']">Digital Publishing</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button style="border:1px solid #FF891D;" >Learn More</button> 
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/data_annotation.png" style="width:70%;margin-top:40px;">  
                             </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 [ngClass]="['datasl']">Accessibility Services</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button style="border:1px solid #FF891D;" >Learn More</button> 
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/data_annotation.png" style="width:70%;margin-top:40px;">
                             </div>
                       </div>
                    </div>  
                  </div> 
                </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 [ngClass]="['datasl']">Software Services</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button style="border:1px solid #FF891D;" >Learn More</button> 
                            </div>
                             <div class="col-md-6">
                                <img src="../assets/data_annotation.png" style="width:70%;margin-top:40px;">
                             </div>
                       </div>
                   </div>  
               </div>     
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
          </button>
    </div> 	  
</div>
</div>
<div class="wback1 ">
    <div class="backgd2"></div>
      <div class="container" >
        <div class="row ">
            <div class="col-md-7">
                <div id="backgd1">
            <p class="wwd1">What we do?</p>
            <p class="wwd2" style="margin-top:30px;">It is an undeniable fact that IT services are one of the hotcakes of the industry and market these days.<br> Offering IT services may seem like an overwhelming and tedious task.<br> But @ RS Info Solution, with a little bit of effort and tons of dedication, it is possible to provide all types of IT services on time.</p>
            <button mat-raised-button style="background-color: #FF891D;margin-top:30px;">Get A Free Quote</button>
        </div>
        </div>
        
            <div class="col-md-3">       
                      <div class="bacg1 bacg">
                        <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                      </div>
                      <div class="bacg2 bacg">
                        <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                      </div>
            </div>
            <div class="col-md-2">  
                      <div class="bacg3 bacg">
                        <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                      </div>
                      <div class="bacg4 bacg">
                        <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                    </div>                  
            </div>
        </div>
   </div>
   <div class="container">
       <h1 class="os1">Our Services</h1>
       <div class="row">
            <div class="col-md-3">
               <div class="ser1">
               <img src="../assets/test 1.png" [ngClass]="['tested0']">
               <p class="text0">Data Annotation & Labelling</p> 
               </div>
            </div>
            <div class="col-md-3">
                <div class="ser1">
                    <img src="../assets/test 2.png" [ngClass]="['tested0']">
                    <p class="text0">Accessibility Services</p> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="ser1">
                    <img src="../assets/test 3.png" [ngClass]="['tested0']">
                    <p class="text0">Digital Publishing</p> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="ser1">
                    <img src="../assets/test 1.png" [ngClass]="['tested0']">
                    <p class="text0">Software Development</p> 
                </div>
            </div>
       </div>
    </div>
    <div class="container">
        <img src="../assets/indicator1.png" class="swibebtn0">
          <div class="swibebtn1">




           </div>
     </div>
    
   <div class="bacgd5"></div>
</div>

