<div  id="start">
    <div class="r1"></div><br><br>
    <div class="r2"></div><br><br>
    <div class="r3"></div>
    <div class="elli"></div>
    <h1>Service</h1>
    <div id="side"></div>
    <div class="r4"></div><br><br><br>
    <div class="r5"></div><br><br><br>
    <div class="r6"></div>
</div>
<br><br><br><br><br><br><br><br>
<div class="elli2"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about">
            <h2 class="head">We Strive For Lorem Ipsum</h2>
            <p class="cont">RS Infosolution has many years of experience working with publishers worldwide on typesetting books, magazines and other projects.Offering an exceptional return-on-investment compared to our competitors, and work quickly and responsively with publishers on producing print-ready </p>
            <br>
            <button mat-button class="btn"><span class="text">Contact Us</span></button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="side" src="../assets/side 1.jpg">
        </div>
    </div>
</div>
<br><br><br>
<div class="elli1"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="side" src="../assets/side 1.jpg">
        </div>
        <div class="col-md-6">
            <div class="about">
            <h2 class="head">We Strive For Lorem Ipsum</h2>
            <p class="cont">RS Infosolution has many years of experience working with publishers worldwide on typesetting books, magazines and other projects.Offering an exceptional return-on-investment compared to our competitors, and work quickly and responsively with publishers on producing print-ready </p>
            <br>
            <button mat-button class="btn"><span class="text">Get A Free Quote</span></button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>
<div class="container-fluid" id="foot">
        <div class="row">
            <div class="col-md-7 mt-4">
                <p class="footc"> Lorem Ipsum dolor dit amet<br>
                    consectetur adipiscing elit,</p>
            </div>
            <div class="col-md-5 ">
                
            <button mat-button class="btn2"><span class="text2">Get A Free Quote</span></button>
            </div>
        </div>
</div>
<div class="container-fluid" id="ft">
            <footer>
                <div class="container text-center text-md-start ">
                    <!-- Grid row -->
                    <div class="row ">
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                          <i class="fas fa-gem me-3 text-secondary"></i>Company name
                        </h6>
                        <p>
                          Here you can use rows and columns to organize your footer content. Lorem ipsum
                          dolor sit amet, consectetur adipisicing elit.
                        </p>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                          Products
                        </h6>
                        <p>
                          <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">Laravel</a>
                        </p>
                      </div>
                      <!-- Grid column -->
              
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                          Useful links
                        </h6>
                        <p>
                          <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                          <a href="#!" class="text-reset">Help</a>
                        </p>
                      </div>
                      <!-- Grid column -->
              
                      <!-- Grid column -->
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                        <p>
                          <i class="fas fa-envelope me-3 text-secondary"></i>
                          info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                      </div>
                      <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                  </div>
             
                <!-- Section: Links  -->
              
                <!-- Copyright -->
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                  © 2021 Copyright:
                  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
                      
                      <!-- Grid column -->
                    </footer>
<div>


