<video src="../assets/background.mp4"  [ngClass]="['background']" autoplay="" loop=""></video>
   
<div [ngClass]="['']">
    <div id="demo2" [ngClass]="['carousel slide']" data-bs-ride="carousel" [ngStyle]="{'text-align':'center'}">
          <div class="carousel-inner">
               <div class="carousel-item active">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Data Annotataion</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Data Annotataion</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                            </div>
                            <div class="col-lg-6 slideimg0">
                                <img src="../assets/data_annotation.png" class="slideimg1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <div class="slidebtn3">
                                     <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                                 </div>
                            </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                 <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Digital Publishing</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Digital Publishing</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                            </div>
                            <div class="col-lg-6  slideimg0">
                                <img src="../assets/data_annotation.png" class="slideimg1">  
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Accessibility Services</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Accessibility Services</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                            </div>
                            <div class="col-lg-6  slideimg0">
                                <img src="../assets/data_annotation.png" class="slideimg1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                    </div>  
                  </div> 
                </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Software Services</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Software Services</h1>
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                            </div>
                             <div class="col-lg-6  slideimg0">
                                <img src="../assets/data_annotation.png" class="slideimg1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" >Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                   </div>  
               </div>     
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
          </button>
    </div> 	  
  </div>
</div>


<div class="wback1 ">
    <div class="backgd2"></div>
      <div class="container" >
        <div class="row ">
            <div class="col-lg-7">
                <div id="backgd1">
                   <p class="wwd1">What we do?</p>
                   <p class="wwd2" style="margin-top:30px;">It is an undeniable fact that IT services are one of the hotcakes of the industry and market these days.<br> Offering IT services may seem like an overwhelming and tedious task.<br> But @ RS Info Solution, with a little bit of effort and tons of dedication, it is possible to provide all types of IT services on time.</p>
                    <div class="gafq1">
                        <button mat-raised-button class="gafq">Get A Free Quote</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 dtview">       
                      <div class="bacg1 bacg">
                        <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                      </div>
                      <div class="bacg2 bacg">
                        <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                      </div>
            </div>
            <div class="col-lg-2 dtview">  
                      <div class="bacg3 bacg">
                        <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                      </div>
                      <div class="bacg4 bacg">
                        <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                    </div>                  
            </div>
        <div class="container-fluid mdview">
            <div class="row">
            <div class="col-6 ">
                <div class="bacg1 bacg">
                    <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                  </div>
            </div>
            <div class="col-6">
                  <div class="bacg3 bacg">
                    <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                  </div>
            </div>
        </div>
     </div> 
     <div class="container-fluid mdview">
        <div class="row">
            <div class="col-6 ">
                <div class="bacg2 bacg">
                    <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                  </div>
            </div>
            <div class="col-6">
                <div class="bacg4 bacg">
                    <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                </div>   
            </div>
        </div>
      </div>


        </div>
   </div>


   <ul class="nav nav-pills dtview" role="tablist">
      <div class="container">
          <h1 class="os1">Our Services</h1>
              <div class="row">
                   <div class="col-md-3">
                       <li class="nav-item">
                            <a class="nav-link active pictab1" data-bs-toggle="pill" href="#menu0">
                               <img src="../assets/test 1.png" [ngClass]="['tested0']">
                               <p class="text0">Data Annotation & Labelling</p> 
                            </a>
                        </li>
                    </div>     
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu1">
                               <img src="../assets/test 2.png" [ngClass]="['tested0']">
                               <p class="text0">Accessibility Services</p> 
                            </a>
                        </li>
                    </div>       
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu2">
                                <img src="../assets/test 3.png" [ngClass]="['tested0']">
                                <p class="text0">Digital Publishing</p> 
                            </a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu3">
                                <img src="../assets/test 1.png" [ngClass]="['tested0']">
                                <p class="text0">Software Development</p> 
                            </a>
                        </li>
                    </div>
                </div>
        </div>
    </ul>
    <div class="tab-content dtview">
        <div id="menu0"  class="container tab-pane active">
            <img src="../assets/indicator1.png" style="  width:30px;height:20px;margin-top: 50px;margin-left:80px;z-index:3;">
                <div class="swibebtn1">
                    <div class="container ml-5 mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/fruits.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/healthcare.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/selfdriving.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/drone.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Drone Annotation</div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/sports.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                     <img src="../assets/retail.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>     
        </div>
    </div>
    <div class="tab-content dtview">
            <div id="menu1"  class="container tab-pane fade">
                <img src="../assets/indicator1.png" style="  width:30px;height:20px;margin-top: 50px;margin-left:320px;z-index:3;">
                    <div class="swibebtn1">
                        <div class="container ml-5 mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../assets/fruits.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../assets/healthcare.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../assets/selfdriving.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../assets/drone.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Drone Annotation</div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../assets/sports.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                         <img src="../assets/retail.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </div>     
        </div>
    </div>  
    <div class="tab-content dtview">
        <div id="menu2"  class="container tab-pane fade">
            <img src="../assets/indicator1.png" style="  width:30px;height:20px;margin-top: 50px;margin-left:560px;z-index:3;">
                <div class="swibebtn1">
                    <div class="container ml-5 mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/fruits.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/healthcare.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/selfdriving.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/drone.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Drone Annotation</div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../assets/sports.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                     <img src="../assets/retail.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>     
    </div>
</div> 
<div class="tab-content dtview">
    <div id="menu3"  class="container tab-pane fade">
        <img src="../assets/indicator1.png" style="  width:30px;height:20px;margin-top: 50px;margin-left:800px;z-index:3;">
            <div class="swibebtn1">
                <div class="container ml-5 mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../assets/fruits.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../assets/healthcare.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../assets/selfdriving.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../assets/drone.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Drone Annotation</div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../assets/sports.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Sports Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                 <img src="../assets/retail.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Retail Annotation</div>
                            </div>
                        </div>
                   </div>
               </div>
            </div>     
</div>
</div> 
   <div class="bacgd5"></div>   
</div>

<div class="container-fluid mdview">
      <h1 style="text-align: center;">Our Services</h1>

</div>






