<div>
    <br>
    <br>
<div class="rr">
<div class="r1"></div><br>
<div class="r2"></div><br>
<div class="r3"></div><br>
</div>
<div class="rb1"></div>
<h1 class="aboutus">About Us <img class="aboutusbl" src="../assets/pngegg (1).png" >    </h1>
<br>
<br>
<div class="lr">
   <div class="r4" ></div><br>
   <div class="r5" ></div><br>
   <div class="r6" ></div><br>
</div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<div class="container ">
    <div class="row">
      <div class="col-md-6">
        <div class="des1"></div>
        <h1 class="abhed">Sigma 4 Solutions</h1>
        <p class="abpa">Welcome to Sigma 4 Solutions! Sigma 4 Solutions is a
            leading ITES company established in 2012. Our team is
            committed to providing you with exceptional services,
            placing a strong emphasis on data security, premium
            quality, and efficient turnaround time.       </p>
           
      </div>
      <div class="col-md-6">
        <img class="border1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container ">
    <div class="row">
        <div class="des2"></div>

      <div class="col-md-6">
        <img class="border2" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">
       
      </div>
      <div class="col-md-6">
        <div class="2topic"></div><h1 class="abhed">We Strive For Lorem Ipsum</h1>
        <p class="abpa">RS Infosolution has many years of experience working with publishers worldwide on typesetting books, magazines and other projects.Offering an exceptional return-on-investment compared to our competitors, and work quickly and responsively with publishers on producing print-ready 
        </p>  </div>    </div>
   </div>
<br>
<br>
<br>   <br> <br>  <br>  <br>  <br>  <br> <br><br><br> 
<br>
   <div class="ourj">
     <h1 class="ourjt2">OurJourney</h1>
     
   </div>
 

 <br>  <br> <br>  <br>  <br>  <br>  <br> <br>
  <svg xmlns="http://www.w3.org/2000/svg" width="1292" height="62" viewBox="0 0 1292 62" fill="none">
    <path d="M0.308004 57.7363L1291.04 -0.000466809L1291.5 11.9906L0.462006 61.7333L0.308004 57.7363Z" fill="url(#paint0_linear_290_321)"/>
    <defs>
      <linearGradient id="paint0_linear_290_321" x1="9.49997" y1="61.9994" x2="1328.5" y2="-0.00048673" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D9D9D9" stop-opacity="0"/>
        <stop offset="0.0001" stop-color="#E6C6FF" stop-opacity="0.09"/>
        <stop offset="0.213542" stop-color="#E2BDFF" stop-opacity="0.402753"/>
        <stop offset="0.510417" stop-color="#C881FF" stop-opacity="0.628204"/>
        <stop offset="0.760417" stop-color="#AC42FF" stop-opacity="0.818057"/>
        <stop offset="1" stop-color="#A337F7"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="des3"></div>
  <div class="poind1">2018<img src="../assets/Group 65.png"></div>  
  <div class="poind2">2019<img src="../assets/Group 65.png"> </div> 
  <div class="poind3">2020<img src="../assets/Group 65.png"> </div> 
  <div class="poind4">2021<img src="../assets/Group 65.png"> </div> 
  <div class="poind5">2022 <img src="../assets/Group 65.png"></div> 
  <br>  <br> <br> <br>  <br>   <br> <br>  <br>  <br>  <br>  <br> <br><br><br><br> <br> <br>
  <div class="ourtm">
    <h1 class="ourtm2">Our Team</h1>
    <br><br><br><br><br><br><br>
    <div class="container ">
        <div class="row">
          <div class="col-md-4 mkh"><img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
dit amet  </div> &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-4 mkh"> <img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div>  &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-4 mkh"><img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div> 
       </div>
    </div>
    
  <div class="des4"></div>
    <div class="container ">
        <div class="row">
          <div class="col-md-4 mkd"><img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
dit amet  </div> &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-4 mkd"> <img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div>  &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-4 mkd"><img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div> 
       </div>
    </div>
 
    <br>  <br> <br> <br>  <br>   <br> <br>  <br>  <br>  <br>  <br> <br><br><br><br> <br> <br>
