<video src="../assets/background.mp4"  [ngClass]="['background']" autoplay="" loop=""></video>
<div class="container">
     <div class="row">
          <div class="col-md-3">
           <img src="../assets/logo.png" style="width: 50px;margin-top: 30px;">
          </div>
          <div class="col-md-6">
             <div class="bn3">
                     <a [ngClass]="['button1',]" >Home </a>
                     <a [ngClass]="['button1',]">About us </a>
                     <a [ngClass]="['button1','dropdown-toggle',]" data-bs-toggle="offcanvas" data-bs-target="#demo">Services</a>
                     <a [ngClass]="['button1',]">Join us  </a> 
            </div>                  
          </div>
          <div class="col-md-3">
            <button  mat-flat-button [ngStyle]="{'background-color':color}" [ngClass]="['bn5 ','button1']">Contact us  </button>
          </div>

      </div>
</div>
<div class="offcanvas offcanvas-top" id="demo" [ngClass]="['serve1']" >
  <div class="offcanvas-header">
    <div class="container" [ngClass]="['butgr0',]">
      <div class="row">
        <div class="col-6">
          <h1 class="offcanvas-title" style="color:orange;font-family: arial black;font-size:30px;">Our Services</h1>
        </div>
        <div class="col-6">
          <button type="button" class="btn-close btn btn-lg" style="float: right;background-color:orange;" data-bs-dismiss="offcanvas"></button>
        </div>
      </div>
  </div>
  </div>
  <div class="offcanvas-body">
      <div class="container" [ngClass]="['butgr',]">
        <div class="row">
          <div class="col-6">
          
          </div>
          <div class="col-6">
            <a  [ngClass]="['button2','button3']">Data Annotataion </a>
            <a  [ngClass]="['button2','button4']">Digital Publishing</a>
            <a  [ngClass]="['button2','button4']">Accessibility Services</a>
            <a  [ngClass]="['button2','button4']">Software Services</a>
          </div>
        </div>
      </div>     
  </div>
</div>
<app-home></app-home>


