
#start { 
    margin-top: 90px;

}

#side { 
    float : right;
}
.r1,.r2,.r3,.r4,.r5,.r6 { 
    height: 12px;
    background:  linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
    margin-left: -12px;
}

.r1,.r6 { 
    width: 687px;
}

.r2,.r5  { 
    width: 338px;
}

.r3,.r4 { 
    width: 179px;
}

.r4,.r5,.r6 {
    transform: scaleX(-1);
    float: right;
}

.elli { 
    width: 332px;
    height: 332px;
    border-radius: 332px;
    background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
    filter: blur(194.5px);
    position: absolute;
    flex-shrink: 0;
    top: 2%;
    margin-left: 480px;
}

h1 {
    color:white;
    font-family: 'Urbanist';
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    font-size: 50px;
    text-align: center;
}

.about {
    padding: 59px;
}

.head { 
    color: #ee9d11;
    font-family: Urbanist;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.cont {
     width: 462px;
     color: #FFF;
     font-family: Urbanist;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 36px;
}

.side { 
    width: 510px;
    height: 380px;
    padding: 60px;
    border-radius: 70px;
}


.text2 { 
    color: #FFF;
    font-family: Urbanist;
    font-style: normal;
    line-height: normal;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
}

.elli1,.elli4 {
    width: 681px;
    height: 681px;
    flex-shrink: 0;
    border-radius: 681px;
    background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
    filter: blur(187px);
    position: absolute;
    margin-top: 160px;
    margin-left: -600px;
    z-index: -1;
}

.elli2,.elli3 { 
    width: 681px;
    height: 681px;
    flex-shrink: 0;
    border-radius: 681px;
    background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
    filter: blur(187px);
    position: absolute;
    margin-top: 71px;
    margin-left: 1167px;
    z-index: -1;
}



#foot { 
    background: linear-gradient(90deg, #FF891D 0%, #FFD300 100%);
    width: 1512px;
    height: 106px;
    margin-left: -130px;
}

.footc { 
    color: #FFF;
    font-family: Urbanist;
    font-size: 29px;
    font-style: normal;
    font-weight: 900;
    margin-left: 70px;
    line-height: normal;
}

.btn2 { 
    width: 260px;
    height: 42px;
    border-radius: 8px;
    background: #FF891D;
    margin-top: 32px;
    margin-left: 146px;
}

#ft { 
   background-color:  #0E0E0E;
   width: 1360px;
   margin-left: -150px;
   
}

.comp { 
    position: absolute;
    width: 400px;
    color: white;
    margin-top: -80px;
    margin-left: 80px;
    color: #FFF;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.let { 
    color: #FF891D;
    font-family: Mukta;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 .vec { 
    margin-left: 8px;

 } 
.flogo { 
    width: 65px;
    height: 74px;
    margin-top: 60px;
}

.fcont { 
    color: #FFF;
    width: 320px;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    line-height: 32px;
}

.icon1,.icon2,.icon3{ 
   width: 50px;
   height: 40px;
   margin-top: 17px;
}

h3 { 
    color: #FF891D;
    font-family: Mukta;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ft,.ft0 { 
    margin-top: 92px; 
}

.ft0 { 
    padding-left: 60px;
}

.ftext {
    text-decoration: none;
    color: #FFF;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
}

.ftext1 {
    color: #FFF;
    font-family: Urbanist;
    font-size: 19px;
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
}

.cr { 
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
}




